
/* ~~~~~~~~~~~~~~ general tags ~~~~~~~~~~~~~~~~~~~*/

/* ~~~~~~~~~~~~~~ header ~~~~~~~~~~~~~~~~~~~~~~~~~*/

h1 {
	background-color: #85DBFA;
	margin: 0;
	padding: 0;
	font-size: 1.5em;
}

/* ~~~~~~~~~~~~~~ navigation ~~~~~~~~~~~~~~~~~~~~~*/

ul .navlist{
	margin: 0;
	list-style-type: none;
}

li {
	list-style-type: none;
}

h1 img {
	width: 55px;
	height: 40px;
	margin:0;
	text-align: left;
}
#wrapper{
	width: 320px;
	margin: 0 auto;
}

.multi-level, .item ul, .mainnav input[type = "checkbox"] {
	display: none;
}

#menu:checked ~ .multi-level, .item input:checked ~ ul {
	display: block;
}

label:hover {
	cursor: pointer;
}

label {
    width: 100%;
    display: block;
    z-index: 3;
    position: relative;
}

.mainnav {
	width: 100%;
	background-color: rgb(255,255,205);
	overflow-x: hidden;
}

#navicon {
	font-size: 25px;
	line-height: 40px;
	padding-left: 1em;
}

img {
	max-width: 100%;
	height: auto;
	position: block;
}

/* ~~~~~~~~~~~~~~ main ~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* ~~~~~~~~~~~~~~ footer ~~~~~~~~~~~~~~~~~~~~~~~~~*/

footer {
		background-color: rgb(255,255,205);
}

